*{
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans', sans-serif;
    color: whitesmoke;
    background: black;
    width: 100%;
    height: 100vh;
    overflow: auto;
    font-size: 18px;
    box-sizing: border-box;
}


.navegacao{
    display: flex;
    justify-content: center;
}

.navegacao li{
    list-style-type: none;
}

h1{
    font-size: 30px;
    font-weight: bold;
}